name: CI/CD API

on:
  push:
  pull_request:

env:
  PROJECT_NAME: odh-geo-api
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}
  DOCKER_TAG: ${{ github.sha }}

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '9.0.x'
    - name: Restore dependencies
      run: dotnet restore opendatahub-geo-api.sln
    - name: Build opendatahub-geo-api Solution
      run: dotnet build opendatahub-geo-api.sln --no-restore

  deploy-test-api:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/main'    
    needs: test
    concurrency: deploy-test-api
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        env:
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}
          X_SERVER_PORT: 1028

          X_ASPNETCORE_ENVIRONMENT: "Development"
          X_PG_CONNECTION: ${{ secrets.PG_CONNECTION_TEST }}              

      - name: Build and push 
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}
          working-directory: VectorTilesApi
          docker-compose-file: docker-compose.yml

      - name: Deploy application
        uses: noi-techpark/github-actions/docker-deploy@v2
        with:
          hosts: 'test'
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          docker-username: 'noi-techpark-bot'
          docker-password: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          project-name: ${{ env.PROJECT_NAME }}
